body {
    background-color: #fff;
    position: relative;
}

.main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/* НАВБАР */
.nav {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 8px);
    filter: drop-shadow(8px 8px 16px rgba(55, 57, 58, 0.12));
}

.nav__wrapper {
    background-color: #f3f4f6;
    border-radius: 16px;
    display: flex;
    width: 1000px;
}

.nav__span-wrapper {
    display: none;
    width: 28px;
    padding: 18px 0;
    margin-left: 15px;
}

.nav__span {
    display: block;
    background-color: #000000;
    width: 100%;
    height: 2px;
    margin-bottom: 7px;
}

.nav__span:last-child {
    margin-bottom: 0;
}

.nav--active {
    display: none;
}

.nav__ul-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    margin-left: auto;
}

.nav__cross {
    display: none;
}

.nav__theme {
    margin-left: auto;
    margin-right: 24px;
    cursor: pointer;
}

.nav__item {
    margin-right: 32px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
}

/* ТОВАРЫ */
.category.category--first {
    padding-top: 120px;
}

.category {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
}

.category__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 24px;
}

.category__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.category__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 24px;
    margin-bottom: 40px;
    max-width: 282px;
}

.category__item:nth-child(4n) {
    margin-right: 0;
}

.category__img-wrapper {
    background-color: rgba(164, 168, 172, 0.1);
    border-radius: 16px;
    max-width: 282px;
    max-height: 262px;
    margin-bottom: 16px;
}

.category__img {
    object-fit: contain;
}

.category__date {
    font-size: 12px;
    line-height: 15px;
    color: #919fab;
    margin-bottom: 4px;
}

.category__cost {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.category__name {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.category__btn {
    display: inline-block;
    margin-top: auto;
    align-self: flex-start;
    padding: 10px 36px;
    background-color: #1889f1;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

/* МОДАЛКА */
.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.64);
}

.modal--active {
    display: block;
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    background-color: #fff;
}
.modal__wrapper {
    padding: 32px 24px;
}

.modal__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

.modal__cross {
    cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: row;
}

.modal__product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__product-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    align-items: stretch;
}

.modal__img-wrapper {
    width: 211px;
    height: 200px;
    background: rgba(164, 168, 172, 0.1);
    border-radius: 16px;
    margin-right: 24px;
}

.modal__img {
    width: 211px;
    height: 200px;
}

.modal__char-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 84px;
}

.modal__product-text-wrapper {
    max-width: 211px;
    margin-right: 24px;
}

.modal__product-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919fab;
    margin-bottom: 8px;
}

.modal__product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
}

.modal__input-table {
    max-width: 150px;
}

.modal__input {
    display: none;
}

.modal__fake {
    display: inline-block;
    flex-wrap: wrap;
    border: 2px solid #919fab;
    border-radius: 16px;
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
}

.modal__fake--active {
    border: 2px solid #2395ff;
}

.modal__amount-wrapper {
    display: flex;
    flex-direction: row;
}

.modal__pointer-wrapper {
    width: 211px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.modal__pointer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919fab;
    margin-bottom: 8px;
}

.modal__price-wrapper {
    width: 211px;
    display: flex;
    flex-direction: column;
}

.modal__price-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919fab;
    margin-bottom: 8px;
}

.modal__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #000000;
}

.modal__bottom {
    display: flex;
    flex-direction: row;
}

.modal__textarea-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

.modal__textarea-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #919fab;
    margin-bottom: 16px;
}
.modal__textarea {
    width: 532px;
    height: 100px;
    background: #f3f4f6;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 16px;
    resize: none;
}

.modal__btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.modal__btn-close {
    background: #ffffff;
    border: 1px solid #2395ff;
    border-radius: 16px;
    padding: 10px 30px;
    margin-right: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #2395ff;
    cursor: pointer;
}

.modal__btn-buy {
    background: #2395ff;
    border-radius: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 10px 36px;
    cursor: pointer;
}

/* СЧЕТЧИК */
.counter {
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.counter__minus {
    background-color: #fff;
    border: none;
    padding: 8px;
    border: 1px solid #919fab;
    border-start-start-radius: 50%;
    border-end-start-radius: 50%;
    cursor: pointer;
}

.counter__minus-img {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 2px;
}

.counter__input {
    font-family: 'Inter';
    width: 51px;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    color: #000000;
    background-color: #fff;
    border: none;
    padding: 7px;
    border-top: 1px solid #919fab;
    border-bottom: 1px solid #919fab;
    text-align: center;
    outline: none;
}

.counter__plus {
    background-color: #fff;
    border: none;
    padding: 8px;
    border: 1px solid #919fab;
    border-start-end-radius: 50%;
    border-end-end-radius: 50%;
    cursor: pointer;
}

.counter__plus-img {
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-right: 2px;
}

.up__wrapper {
    position: fixed;
    right: 40px;
    bottom: 64px;
    cursor: pointer;
    background: #2395ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
}

.up__wrapper--active {
    display: none;
}

.footer__span {
    width: 100%;
    height: 1px;
    background-color: #000;
}

.footer__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 8px 0 24px 40px;
}

.footer__href {
    color: #000;
    text-decoration: none;
}

@media (max-width: 1280px) {
    .main-wrapper {
        margin-left: 40px;
        margin-right: 16px;
    }

    .nav__wrapper {
        width: 696px;
    }

    .modal__window {
        max-width: 1200px;
        width: 696px;
    }
    .modal__product-info {
        margin-bottom: 24px;
    }

    .modal__char-wrapper {
        flex-direction: column;
        height: 200px;
        margin-right: 36px;
    }

    .modal__product-text-wrapper {
        margin-right: 0;
        margin-bottom: 16px;
        width: 200px;
    }

    .modal__amount-wrapper {
        flex-direction: column;
    }

    .modal__pointer-wrapper {
        margin-bottom: 16px;
    }

    .modal__bottom {
        flex-direction: column;
        width: 648px;
    }

    .modal__textarea-wrapper {
        margin-right: 0;
        margin-bottom: 24px;
        width: 616px;
    }

    .modal__textarea-header {
        margin-bottom: 8px;
    }

    .modal__textarea {
        width: 100%;
    }

    .modal__btn-close {
        width: 312px;
    }

    .modal__btn-buy {
        width: 312px;
    }
}

@media (max-width: 716px) {
    .nav__cross {
        display: block;
    }

    .modal__window {
        max-width: 326px;
    }

    .modal__wrapper {
        padding: 16px;
    }

    .nav__wrapper {
        width: 328px;
    }

    .nav__span-wrapper {
        display: block;
    }

    .nav__ul-wrapper {
        flex-direction: column;
        max-width: 328px;
        justify-content: flex-start;
        margin-left: 0;
        padding: 15px 0 24px 16px;
    }

    .nav__cross {
        width: 18px;
        height: 18px;
        margin-bottom: 24px;
    }

    .nav__list {
        flex-direction: column;
        padding: 0;
    }

    .nav__item {
        margin: 0;
        margin-bottom: 16px;
    }

    .nav__item:last-child {
        margin-bottom: 0;
    }

    .nav--active {
        display: none;
    }

    .modal__product-wrapper {
        max-width: 294px;
    }

    .modal__title {
        font-size: 24px;
        line-height: 29px;
        width: 212px;
        align-content: flex-start;
    }

    .modal__cross {
        margin-top: -28px;
    }

    .modal__product-info {
        flex-direction: column;
        margin-bottom: 0;
    }

    .modal__product-name {
        width: 294px;
    }

    .modal__img-wrapper {
        width: 294px;
        height: 200px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 16px;
    }

    .modal__char-wrapper {
        max-width: 294px;
        height: auto;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .modal__amount-wrapper {
        flex-direction: row;
        margin-bottom: 16px;
    }

    .modal__textarea-wrapper {
        max-width: 262px;
    }

    .modal__textarea {
        height: 188px;
    }

    .modal__btn-wrapper {
        max-width: 294px;
    }

    .modal__btn-close {
        max-width: 139px;
        margin-right: 16px;
    }

    .modal__btn-buy {
        max-width: 139px;
    }

    .up__wrapper {
        right: 16px;
        bottom: 23px;
        width: 48px;
        height: 48px;
    }

    .footer__wrapper {
        padding-left: 16px;
    }
}

@media (max-width: 668px) {
    .main-wrapper {
        margin-left: 16px;
    }

    .category__item {
        width: 156px;
        margin-right: 16px;
    }

    .category__img-wrapper {
        height: 120px;
    }

    .category__img {
        width: 156px;
        height: 120px;
    }

    .category__cost {
        font-size: 20px;
        line-height: 24px;
    }

    .category__name {
        font-size: 16px;
        line-height: 19px;
    }

    .category__btn {
        width: 100%;
    }
}

@media (max-width: 548px) {
    .category__item:nth-child(2n) {
        margin-right: 0;
    }
}
